<div class="usersbox">
    <h1>Total {{queryname}} Users from the Philippines</h1>
    <h2 class="count">{{size}}</h2>
    <p>{{content}}</p>
</div>
<div class="data-table">
  <table id="myTable" class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>User Name</th>
              <th>Location</th>
              <th>Created</th>
              <th>Last Upvote Time</th>
          </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
           <td><a href="https://steemit.com/@{{this.name}}" target="_blank">{{this.name}}</a></td>
           <td>{{this.location_string}}</td>
           <td>{{this.created}}</td>
           <td>{{this.last_vote_time}}</td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>